!!!
%html
  %body{:style => "font: 13px/20px Helvetica Neue', Tahoma, sans-serif; background-color: #FAFAFA; width: 100%; text-align: justify; color: black;"}
    %table{:align => "center", :style => "width: 500px;"}
      %tbody
        %tr
          %td
            %h1{:style => "font: bold 36px/50px; color: #01326D;"} Hey #{@to.nickname}!
            %p{:style => "text-align: justify;"}
              You've got a new request on Screw Me Yale! Somebody wants to set up your screw 
              %b #{@to_screw.fullname} 
              with 
              %b #{@from_screw.fullname} 
              for 
              %b #{@event}
              —what joyous news!
            - if not @same_event
              %p{:style => "text-align: justify;"}
                Let's be clear, the invitation is for 
                %b #{@short_event}, 
                so please 
                %b MAKE SURE
                #{@to_screw.nickname} is free that day and willing to go. Remember that this still leaves #{@to_screw.nickname} unmatched for #{@to_event}—you've still got work to do!
            %p{:style => "text-align: justify;"}
              Now if you think #{@to_screw.nickname} and #{@from_screw.nickname} are a good match, you're just one step away from a successful screw—just go to 
              %a{:href => "http://screwmeyale.com/requests", :style => "color: #164373;"} ScrewMeYale.com,
              click on the 'Requests' tab and hit accept! 
            %p{:style => "text-align: justify;"}
              If you're not a such a fan and want to nip this potential relationship in the bud (you debbie downer you!), simply hit 'reject' on the page—and the long search continues.
            = render :partial => "signoff"
        = render :partial => "blasphemy"