!!!
- obj = "him/her"
- obj = "her" if @screwer.gen == 2
- obj = "him" if @screwer.gen == 1

%html
  %body{:style => "font: 13px/20px Helvetica Neue', Tahoma, sans-serif; background-color: #FAFAFA; width: 100%; text-align: justify; color: black;"}
    %table{:align => "center", :style => "width: 500px;"}
      %tbody
        %tr
          %td
            %h1{:style => "font: bold 36px/50px; color: #01326D;"} Hey #{@screw.fname}!
            %p{:style => "text-align: justify;"}
              This email is to let you know that you're being set up by #{@screwer.lengthy_name} on
              = succeed "!" do
                %a{:href => "http://screwmeyale.com", :style => "color:#164373;"} screwmeyale.com
            %p{:style => "text-align: justify;"}
              Don't panic, this isn't anything (too) dirty--#{@screwer.nickname} is using Screw Me Yale to find the perfect date for you for #{@event}.
              Of course, we don't want people being screwed willy-nilly, so if you don't want #{@screwer.nickname} to set you up, or you're busy that day, you can stop #{obj}
              = succeed "." do
                %a{:href => "http://screwmeyale.com/screwers", :style => "color: #164373;"} here
            %p{:style => "text-align: justify;"} To exciting and well-paired screws for everybody!
            %img{:alt => "Screw Me Yale", :height => "30px;", :src => "http://screwmeyale.com/assets/screwmeyale.png", :style => "vertical-align: text-bottom; margin-bottom: 10px;"}
        %tr
          %td{:style => "border-top: 1pt solid #BBB; font-style: italic; font-size: 10px; line-height: 12px; margin-top: 10px; padding-top: 10px;"}
            %a{:href => "http://screwmeyale.com/about", :style => "color: #164373;"} What is this blasphemy?