<!DOCTYPE html>
<html>
<head>
  <title>Screw Me Yale</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lobster' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css" rel = "stylesheet" type = "text/css" />
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Screw Me Yale" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://screwmeyale.com" />
  <meta property="og:image" content="http://screwmeyale.com/assets/favicon.ico" />
  <meta property="og:site_name" content="Screw Me Yale" />
  <meta property="og:description" content="Make sure your roommate's screw experience is nothing less than perfect! Screw Me Yale will match them with that special somebody in just a few clicks ;)" />
  <meta property="fb:admins" content="651881494" />
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=196239823792948";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Screw Me Yale</a>
      <ul class="nav">
        <li class="home"><a href="/">Home</a></li>
        <li class="about"><a href="/about">About</a></li>
        <% if session[:cas_user] %>
          <li class="help"><a href='#'>Help!!</a></li>
        <% end %>
      </ul>
      <ul class="nav pull-right">
        <% if session[:cas_user] %>
          <li><a href="/logout">Logout</a></li>
        <% end %>
        <li>
          <div class="fb-like" data-href="http://screwmeyale.com" data-send="true" data-layout="button_count" data-width="70" data-show-faces="false" data-font="lucida grande" style="padding: 10px;"></div>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <%= render :partial => "main/help" %>
  <div class="row">
    <div class="span10 offset1">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>